@page "/"
@inject ITemperatureService TemperatureService


@* Why there's no browser JavaScript logs for your Console.WriteLine() ?
    In Blazor Server, code runs on the server, not the browser. *@

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>

    <h2>Temperature</h2>

    @* <h3>@response.TimeZone</h3> *@



    <input @bind="inputCity" placeholder="enter the city" />
    <button @onclick="FindTemperature">Click</button>



    <div>
        <label>Latitude</label>
        <div>@TemperatureService.Data.Latitude</div>

        <label>Longitude</label> <!-- Corrigi label duplicado -->
        <div>@TemperatureService.Data.Longitude</div>

    </div>

    @if (TemperatureService.Data?.TemperatureDate?.Temperature != null)
    {
        <SfChart Title="@($" {inputCity}, Timezone: {TemperatureService.Data.TimeZone.Split("/")[0]}")" Width="1200px">



            @*             It lets you hover over points and see the values being plotted.acho q nao precisa!!!
 *@                <ChartTooltipSettings Enable="true" />
            <ChartArea Background="Skyblue"/>

            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" Title="Hourly">
            </ChartPrimaryXAxis>

            <ChartPrimaryYAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Double" Title="Temperature (°C)" Minimum="@($"{minTemp}")" Maximum="50">
            </ChartPrimaryYAxis>

            <ChartSeriesCollection>
                <ChartSeries DataSource="@chartData"
                Fill="orange"
                DashArray="10"
                XName="Time"
                YName="Temps"
                Type="ChartSeriesType.Line"
                Width="2">
                    <ChartMarker Visible="true" Shape="ChartShape.Circle" Width="10" Height="10">
                        <ChartMarkerBorder Width="2" Color="black"></ChartMarkerBorder>
                        <ChartDataLabel Visible="true"></ChartDataLabel>
                    </ChartMarker>

                </ChartSeries>
            </ChartSeriesCollection>
        </SfChart>

    }







</div>

@* 
<MainComponent/> *@

@code {
    string inputCity = "Berlin";
    public List<ChartData> chartData = new();
    double minTemp = 0;

    public class ChartData {
        public string Time { get; set; }
        public double Temps { get; set; }
    }
    //private ResponseWheater response = null;

    // protected async override void OnInitialized()
    // {
    //     await FindTemperature();
    //     //ProductService.ProductsChanged += StateHasChanged;
    //     TemperatureService.TemperatureChanged += StateHasChanged;
    // }

    protected override async Task OnInitializedAsync()
    {
        TemperatureService.TemperatureChanged += StateHasChanged;
        await FindTemperature();
    }


    // public void Dispose()
    // {
    //     //ProductService.ProductsChanged -= StateHasChanged;
    //     TemperatureService.TemperatureChanged -= StateHasChanged;
    // }

    public void Dispose()
    {
        TemperatureService.TemperatureChanged -= StateHasChanged;
    }

    // protected async Task FindTemperature()
    // {

    //     Console.WriteLine("click event");
    //     await TemperatureService.UpdateApi("Berlin");
    //     //response = TemperatureService.Data;
    // }

    private void BuildChart(){
        if (TemperatureService.Data.TemperatureDate.Temperature != null && TemperatureService.Data.TemperatureDate != null)
        {  
            chartData.Clear();
          
            for(int i = 0; i < TemperatureService.Data.TemperatureDate.Temperature.Count(); i++)
            {   
                var data = new ChartData()
                    {
                        Temps = TemperatureService.Data.TemperatureDate.Temperature[i],
                        Time = TemperatureService.Data.TemperatureDate.Time[i].Split("T")[1]
                    };

                if (TemperatureService.Data.TemperatureDate.Temperature[i] < minTemp)
                    minTemp = -20;
                chartData.Add(data);
            }
            

        }
    }

    protected async Task FindTemperature()
    {
        Console.WriteLine("event");
        await TemperatureService.UpdateApi(inputCity);
        BuildChart();
        StateHasChanged(); // força renderização. Talvez nao precise disso

    }


}